.card {
  display: flex;
  width: 465px;
  height: 281px;
  margin-top: 36px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  padding-right: 8px;
}

.card img {
  width: 183px;
  height: 281px;
  padding-right: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info h2 {
  margin-top: 12px;
}

.date {
  margin-top: 10px;
  color: #827e7e;
  font-size: 12px;
  line-height: 22px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 7px;
}

.genres h3 {
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  height: 22px;
  padding: 3px 5px 0 3px;
  margin-top: 3px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
}

.description {
  font-size: 12px;
  margin-top: 7px;
  line-height: 22px;
}

.name-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-number {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 2px solid;
  border-radius: 50%;
  font-size: 12px;
}

.good {
  border-color: #66e900;
}

.normal {
  border-color: #e9d100;
}

.bad {
  border-color: #e97e00;
}

.terrible {
  border-color: #e90000;
}
